//META{"name":"Compact middle column","description":"git@github.com:redfellow/compact-messages--betterdiscord-theme.git","author":"redfella","version":"1.0"}*//
.app.theme-dark .chat .content .messages-wrapper .messages .message-group {
    padding: 10px 0
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group h2 strong {
    font-weight: 600
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group h2 .timestamp {
    font-size: 14px
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group .comment .markup code.inline,
.app.theme-dark .chat .content .messages-wrapper .messages .message-group .comment .markup pre code {
    background: #2a2f38
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group .comment .markup pre {
    border-color: #232933
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group .comment .markup .highlight {
    background-color: rgba(68, 136, 220, 0.1)
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group .comment .markup .highlight:hover {
    background-color: rgba(51, 107, 191, 0.7)
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group.is-local-bot-message {
    background: transparent;
    box-shadow: none;
    border-bottom-color: rgba(255, 255, 255, 0.04)
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn {
    background: #2a2f38
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn:hover {
    background: #21262f
}
.app.theme-dark .chat .content .messages-wrapper .messages .message-group-blocked.revealed {
    background: #2a2f38
}