//META{"name":"Compact middle column","description":"git@github.com:redfellow/compact-messages--betterdiscord-theme.git","author":"redfella","version":"1.0"}*//
.chat .content .messages > [class^='container']  {
	padding-top: 11px;
	margin-bottom: 11px;
	zoom: 0.9;
}

.chat .content .messages > [class^='container'] [class^=dividerEnabled] {
	margin: 11px 0 -11px !important;
}

.chat .content .messages > [class^='container'] [class^=markup] {
	line-height: 1.15;
}

.chat .content .messages > [class^='container'] > [class^='message']  {
	position: relative;
}

.chat .content .messages > [class^='container'] h2 strong {
	font-weight: 600;
	letter-spacing: 0.2px;
}
.chat .content .messages > [class^='container'] h2 time {
    font-size: 14px
}

.chat .content .messages > [class^='container'] h2 [class^='botTag']  {
	background-color: #191919;
	color: #aaa;	
	opacity: 0.5;
	padding: 2px 4px;
}

.chat .content .messages > [class^='container'] [class^=header] [class^='image'] {
	height: 37px;
	width: 37px;
	position: relative;
	top: 2px;
	border-radius: 3px;
}
